{% extends 'base.html.twig' %}

{% block title%}Music detail{% endblock %}

{% block content %}


    {% if music_arrangement is not null %}
        <h1>{{ music_arrangement.music.title }}</h1>
   
        {# {{ dump(music_arrangement )}} #}

        {% if music_arrangement.youtubeId is not null %}
        <div class="pm-youtube-video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ music_arrangement.youtubeId }}" frameborder="0" allowfullscreen></iframe>
        </div>
        {% endif %}

        <div>
        	<p>Title: {{ music_arrangement.music.title }}</p>
        	<p>Composers: 
    		{% for composer in music_arrangement.music.composers %}
       	 		{% if  loop.index > 1 %}, {% endif %}
       	 		{{ composer.name|e }}
    		{% endfor %}
    		</p>
    		<p>Genre: {{ music_arrangement.music.genre.name }}</p>
    		<p>Made famous by: {{ music_arrangement.music.famousBy.name }}</p>
    		<p>Arranger: {{ music_arrangement.arranger }}</p>
    		<p>Transcriber: {{ music_arrangement.transcriber }}</p>
    		<p>Midi file: <a href="{{ asset(vich_uploader_asset(music_arrangement.midi, 'file')) }}">{{ music_arrangement.midi.name }}</a></p>
    		<p>Score file:  {% if music_arrangement.score is not null %} {{ music_arrangement.score.name }} {% endif %}</p>
        </div>
    {% else %}
        <p>This music doesn't exist.</p>
    {% endif %}
{% endblock %}