{% extends 'base.html.twig' %}

{% block title%}Musics list{% endblock %}

{% block content %}
    <div id="wrapper">
        <h1>Musics list</h1>

        <table class="table table-striped table-bordered">
        	<tr>
        		<th>Title</th>
        		<th>Genre</th>
        		<th>From</th>
        		<th>Composer(s)</th>
        		<th>Arranger</th>
        		<th>Transcriber</th>
        		<th>Difficulty</th>
        		<th>Download</th>
    		</tr>
	        {% for music_arrangement in music_arrangements %}
        	<tr>
	        	<td><a href="/musics/{{ music_arrangement.id }}/detail" title="Click for more details">{{ music_arrangement.music.title }}</a></td>
	        	<td>{{ music_arrangement.music.genre.name }}</td>
	        	<td>{{ music_arrangement.music.famousBy.name }}</td>
	        	<td>
		    		{% for composer in music_arrangement.music.composers %}
		       	 		{% if  loop.index > 1 %}, {% endif %}
		       	 		{{ composer.name|e }}
		    		{% endfor %}
				</td>
	        	<td>{{ music_arrangement.arranger }}</td>
	        	<td>{% if music_arrangement.transcriber is null %} Unknown {% else %} {{ music_arrangement.transcriber }} {% endif %}</td>
	        	<td>{{ music_arrangement.difficulty }}</td>
	        	<td>
	        		<a href="/upload{{ asset(vich_uploader_asset(music_arrangement.midi, 'file')) }}">Midi file</a>
	        		{% if music_arrangement.score is not null %} 
	        			<a href="/upload{{ asset(vich_uploader_asset(music_arrangement.score, 'file')) }}">
	        				 <img src="{{ asset('images/score-file-icon.png') }}" alt="Score file" />
        				</a> 
    				{% endif %}
	        		<a href="#">Synthesia file</a>
	        	</td>
    		</tr>
	    	{% endfor %}
    	</table>
    </div>
{% endblock %}