<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{{ path("fos_user_registration_register") }}" method="post" role="form" data-async>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="registerModalLabel">{{ 'layout.register'|trans({}, 'FOSUserBundle')|upper }}</h4>
                </div>
                <div class="modal-body">
    {#                 {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

                    <div class="form-group">
                        {{ form_label(form.username) }}
                        <div class="md-form-error">
                            {{ form_errors(form.username) }}
                        </div>
                        {{ form_widget(form.username, { 'attr': {'class': 'form-control'} }) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.email) }}
                        <div class="md-form-error">
                            {{ form_errors(form.email) }}
                        </div>
                        {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.plainPassword.first) }}
                        <div class="md-form-error">
                            {{ form_errors(form.plainPassword.first) {{  }}
                        </div>
                        {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.plainPassword.second) }}
                        <div class="md-form-error">
                            {{ form_errors(form.plainPassword.second) }}
                        </div>
                        {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
                    </div>

                    {{ form_rest(form) }}

                    <div>
                        <button type="button"  class="btn btn-success" data-dismiss="modal" data-toggle="modal" data-target="#registerModal" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
                    </div>

                    {{ form_end(form) }} #}

                    {# {{ render(controller('FOSUserBundle:Registration:register')) }} #}

                    <p class="error"></p>
                    <input type="hidden" name="_csrf_token" value="{{ fos_csrf_provider.getToken('authenticate') }}" />
                    <div class="form-group">
                        <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
                        <input type="text" class="form-control" id="username" name="_username" required="required">
                    </div>
{#                     <div class="form-group">
                        <label for="email">{{ 'security.login.email'|trans({}, 'FOSUserBundle') }}</label>
                        <input type="text" class="form-control" id="email" name="_email" required="required">
                    </div> #}
                    <div class="form-group">
                        <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label><br />
                        <input type="password" id="password" name="_password" required="required" class="form-control">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" data-toggle="modal" data-target="#registerModal">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>